@font-face {
  font-family: 'TrebuchetMS';
  src: url("TrebuchetMS.woff") format("woff");
  /*src: url("TrebuchetMS.eot"), url("TrebuchetMS.eot?#iefix") format("embedded-opentype"), url("TrebuchetMS.woff") format("woff"), url("TrebuchetMS.ttf") format("truetype"), url("TrebuchetMS.svg#TrebuchetMS") format("svg");*/
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TrebuchetMS-Bold';
  src: url("TrebuchetMS-Bold.woff") format("woff");
  /*src: url("TrebuchetMS-Bold.eot?#iefix") format("embedded-opentype"),src: url("TrebuchetMS-Bold.eot"), url("TrebuchetMS-Bold.ttf") format("truetype"), url("TrebuchetMS-Bold.svg#TrebuchetMS-Bold") format("svg");*/
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f2f2f2;
  font-family: 'TrebuchetMS', Verdana, sans-serif;
  color: black;
  font-size: 0.9em;
}

b {
  font-family: 'TrebuchetMS-Bold', Verdana, sans-serif;
  font-weight: 700;
}

h1, h2, h3 {
  text-align: center;
  font-family: 'TrebuchetMS', Verdana, sans-serif;
  color: #d2d2d2;
  font-size: 35px;
  margin-top: 0px;
  margin-bottom: 3px;
  text-decoration: none;
  font-weight: 600;
}

h1.normal {
  color: white;
}

h1.title {
  color: #333333;
  text-align: center;
}

h2 {
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.guiElement {
  cursor: pointer;
}

header {
  display: none;
  text-align: center;
  background-color: #666666;
  color: white;
  font-size: 1.2em;
  position: fixed;
  left: 25%;
  top: 25%;
  width: 800px;
  margin:10px;
  padding: 25px;
  z-index: 100;
  box-shadow: 12px 12px 12px rgba(120, 120, 120, 0.65);
}

#guiDiv {
  display: block;
  position: relative;
  overflow: visible;
  height: 600px;
  width: 1200px;
  margin: 0 0;
}

#dataDiv {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  height: 120px;
  width: 500px;
  margin: 5px 0px;
  z-index: 10;
}

#grammarDiv {
  display: inline;
  position: absolute;
  left: 0px;
  top: 30px;
  overflow: hidden;
  height: 500px;
  width: 500px;
  margin: 0 0;
  z-index: 5;
}

#mapDiv {
  display: inline;
  position: absolute;
  overflow: visible;
  top: 0px;
  left: 500px;
  height: 600px;
  width: 800px;
  margin: 0 0;
  z-index: 0;
}

/*dropdown and text boxes */
select, input {
  margin: 3px;
  padding: 0px 5px 0px 5px;
  color: white;
  height: 25px;
  width: 380px;
  display: inline;
  font-family: 'TrebuchetMS', Verdana, sans-serif;
  font-size: 0.9em;
  background: #ababab;
  border-radius: 5px;
  border-color: black;
  border-width: 0.5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none !important;
  -moz-autofill: color: #ababab !important;
  -webkit-autofill: color: #ababab !important;
}

input {
  width: 368px;
  height: 23px;
}

.dataviewer {
  display: none;
  background: #eee;
  color: #666666;
  width:120px;
  border: none;
}

.tooltip {
  position: absolute;
  z-index: 10;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #ddd;
  padding: 5px 12px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(120, 120, 120, 0.65);
}

.tooltip-text {
  font-family: 'TrebuchetMS', Verdana, sans-serif;
  color: black;
  font-size: .8em;
  margin-bottom: 3px;
}

.area_background{
  fill: black;
  stroke: yellow;
  stroke-width: 3px;
}
